In [28]:
import pandas as pd
from pythainlp.tokenize import word_tokenize

In [29]:
df = pd.read_csv('./final_process/law_text.csv')
df.head()

   Unnamed: 0         NO                                               Text
0           0        276  ผู้ใดข่มขืนกระทำชำเราผู้อื่นโดยขู่เข็ญด้วยประก...
1           1        277  ผู้ใดกระทำชำเราเด็กอายุยังไม่เกินสิบห้าปีซึ่งม...
2           2  277ทวิ(1)  ผู้ใดข่มขืนกระทำชำเราผู้อื่นโดยขู่เข็ญด้วยประก...
3           3  277ทวิ(2)  ผู้ใดข่มขืนกระทำชำเราผู้อื่นโดยขู่เข็ญด้วยประก...
4           4  277ตรี(1)  ถ้าการกระทำความผิดตามวรรคหนึ่งได้กระทำโดยมีหรื...

In [34]:
# import deepcut

wc = []
ts = []
tns = []

for idx, row in df.iterrows():
#     words = deepcut.tokenize(row['Text'])
    words = word_tokenize(row['Text'])
    wc.append(len(words))
    ts.append(' '.join(words))
    tns.append(''.join(words))

In [35]:
df['word_count'] = wc
df['text_no_space'] = tns
df['text_space_pythai'] = ts

In [36]:
df.head()

,Unnamed: 0,NO,Text,word_count,text_no_space,text_space_pythai
0,0,276,ผู้ใดข่มขืนกระทำชำเราผู้อื่นโดยขู่เข็ญด้วยประก...,120,ผู้ใดข่มขืนกระทำชำเราผู้อื่นโดยขู่เข็ญด้วยประก...,ผู้ใด ข่มขืนกระทำชำเรา ผู้อื่น โดย ขู่เข็ญ ด้ว...
1,1,277,ผู้ใดกระทำชำเราเด็กอายุยังไม่เกินสิบห้าปีซึ่งม...,183,ผู้ใดกระทำชำเราเด็กอายุยังไม่เกินสิบห้าปีซึ่งม...,ผู้ใด กระทำชำเรา เด็ก อายุ ยัง ไม่ เกิน สิบห้า...
2,2,277ทวิ(1),ผู้ใดข่มขืนกระทำชำเราผู้อื่นโดยขู่เข็ญด้วยประก...,89,ผู้ใดข่มขืนกระทำชำเราผู้อื่นโดยขู่เข็ญด้วยประก...,ผู้ใด ข่มขืนกระทำชำเรา ผู้อื่น โดย ขู่เข็ญ ด้ว...
3,3,277ทวิ(2),ผู้ใดข่มขืนกระทำชำเราผู้อื่นโดยขู่เข็ญด้วยประก...,92,ผู้ใดข่มขืนกระทำชำเราผู้อื่นโดยขู่เข็ญด้วยประก...,ผู้ใด ข่มขืนกระทำชำเรา ผู้อื่น โดย ขู่เข็ญ ด้ว...
4,4,277ตรี(1),ถ้าการกระทำความผิดตามวรรคหนึ่งได้กระทำโดยมีหรื...,82,ถ้าการกระทำความผิดตามวรรคหนึ่งได้กระทำโดยมีหรื...,ถ้า การ กระทำความผิด ตาม วรรค หนึ่ง ได้ กระทำ ...

In [37]:
df.word_count.describe()

count     131.000000
mean       69.709924
std       120.649874
min         2.000000
25%        27.000000
50%        48.000000
75%        77.500000
max      1193.000000
Name: word_count, dtype: float64

In [38]:
freq = pd.Series(''.join(df['text_space_pythai']).split()).value_counts()

In [39]:
word_freq_df = pd.read_csv('./final_process/word_freq_filtered.csv', header=-1)

In [40]:
word_freq_df.head()

      0   1
0     ,  12
1     ๆ  23
2     ๆ   3
3  ก็ดี   3
4  ก็ดี   1

In [41]:
filtered_dict = {}

for idx, row in word_freq_df.iterrows():
    if len(row[0]) > 1:
        if row[0] in filtered_dict:
            filtered_dict[row[0]] += row[1]
        else:
            filtered_dict[row[0]] = row[1]

In [44]:
f = open('./final_process/dict.txt', 'w')

for i in filtered_dict:
    f.write(i + '\n')

In [47]:
from wordcut import Wordcut

# with open('./final_process/dict.txt', encoding="UTF-8") as dict_file:
#     word_list = list(set([w.rstrip() for w in dict_file.readlines()]))
#     wordcut = Wordcut(word_list)
#     print(wordcut.tokenize("กากา cat หมา"))

ModuleNotFoundError: No module named 'wordcut'